
.users_show{class:"devise_main"}
  %h2 PROFILE
  .users_show-profile
    .users_show-profile-info
      .users_show-profile-info-image
        = image_tag @user.image.url
      .users_show-profile-info-list
        %h3= "投稿者： #{@user.name}"
        %h3= "メールアドレス: #{@user.email}"
    -if @user.text
      .users_show-profile-text
        %h3 【自己紹介】
        %p= @user.text
  %h2 POSTS
  -@posts.each do |post|
    .users_show-post{class:"users_show-profile"}
      .users_show-post-info{class:"users_show-profile-info"}
        .users_show-post-image{class:"users_show-profile-info-image"} 
          = image_tag post.image.url
        .users_show-post-info-list{class:"users_show-profile-info-list"}
          %h3= "タイトル： #{post.title}"
          %h3= "著者： #{post.author}"
          %h3= "投稿日： #{post.created_at.strftime('%Y/%m/%d %H:%M')}" 
          %h3= "更新日： #{post.updated_at.strftime('%Y/%m/%d %H:%M')}" 
        - if user_signed_in? && @user.id == current_user.id 
          .users_show-post-info-list{class:"users_show-profile-info-list"}
            %p=link_to "編集", edit_post_path(post.id)
            %p=link_to "削除", post_path(post.id), method: "delete"
      .users_show-post-text{class:"users_show-profile-text"}
        %h3【書籍情報】
        %p= post.text
  .pagenate
    = paginate @posts 
