
.posts__form
  - if post.errors.any?
    - post.errors.full_messages.each do |error|
      %p= error
  - else
    = form_with(model: post, local: true) do |form|
      .registration_edit-top
        .registration_edit-top-list
          .field
            = form.text_field :title, placeholder: "title（タイトル）"
          .field
            = form.text_field :author, placeholder: "author（著者）"
        = form.label :image, class:"registration_edit-top-image" do
          = form.file_field :image, class: "image-file"
          = image_tag post.image.url ,class: "file-image" 
      .field
        = form.text_area :text, placeholder: "text（書籍紹介）" , rows: 10
      .actions
        = form.submit "SEND"

